<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796698402235-kbraamri6s3kb1jukl16i83r3t8kfe87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796698402235-kbraamri6s3kb1jukl16i83r3t8kfe87</string>
	<key>API_KEY</key>
	<string>AIzaSyBXxzIb3ucgX9r5Vqsw6vM8oUJcpMLSRvI</string>
	<key>GCM_SENDER_ID</key>
	<string>796698402235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.couloge.tatibanashi.mvp</string>
	<key>PROJECT_ID</key>
	<string>tatibanashimvp</string>
	<key>STORAGE_BUCKET</key>
	<string>tatibanashimvp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796698402235:ios:cb7f0aecb5fde1f5f7b89e</string>
</dict>
</plist>